<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Site Admin Panel</span></strong>.
    </div>
    <div class="credits">
        Author <a href="http://myurls.co/islom_karimov" target="_blank">I.A.Karimov</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>