<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

	<ul class="sidebar-nav" id="sidebar-nav">

		<li class="nav-item">
			<a class="nav-link " href="/admin/numbers">
				<i class="bi bi-grid"></i>
				<span>Цифры</span>
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link " href="/admin/region">
				<i class="bi bi-grid"></i>
				<span>Регионы</span>
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link " href="/admin/message">
				<i class="bi bi-grid"></i>
				<span>Сообщение</span>
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link " href="/admin/setting">
				<i class="bi bi-grid"></i>
				<span>Настройки</span>
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link " href="/admin">
				<i class="bi bi-grid"></i>
				<span>Админы</span>
			</a>
		</li>
	</ul>

</aside><!-- End Sidebar-->