<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/admin/numbers">
                <i class="bi bi-grid"></i>
                <span>Numbers</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="/admin/region">
                <i class="bi bi-grid"></i>
                <span>Regions</span>
            </a>
        </li>
        
    </ul>

</aside><!-- End Sidebar-->