<div class="navbar-menu"><button type="button" class="navbar-menu__btn"><img src="img/icons/close.svg" alt=""></button>
	<ul class="navbar-menu__content">
		<li><a href="#home">Главная</a></li>
		<li><a href="#plate">Каталог</a></li>
		<li><a href="#decoration">Номера</a></li>
		<li><a href="#buy">Выкуп</a></li>
		<li><a href="#contact">Контакты</a></li>
	</ul>
	<p>Все права защищены © CarPlate 2023</p>
</div>
<div id="closeModal" class="close-modal__body"></div><button class="close-modal__btn" type="button"><img
		src="img/icons/close.svg" alt=""></button><!-- home modal start -->
<div class="home-modal">
	<h1>Выберите, куда удобнее будет отправить список номеров</h1>
	<div class="home-modal__social">
		<a href="tel:+79340009797"><img src="img/icons/phone.png" alt=""></a>
		<a href="https://wa.me/+79340009797" target="https://wa.me/+79340009797">
			<img src="img/icons/footer_whatsapp.svg" alt="">
		</a>
		<a href="https://t.me/+79340009797" target="https://t.me/+79340009797"><img src="img/telegram.svg" alt="">
		</a>
	</div>
</div><!-- home modal end --><!-- header start -->
<header id="header">
	<div class="container">
		<div class="header-wrap">
			<ul class="nav-link">
				<li class="link-item"><a class="item__link" href="#home">Главная</a></li>
				<li class="link-item"><a class="item__link" href="#plate">Каталог</a></li>
				<li class="link-item"><a class="item__link" href="#decoration">Номера</a></li>
				<li class="link-item"><a class="item__link header-logo" href=""><img src="img/icons/logo.svg" alt=""></a></li>
				<li class="link-item"><a class="item__link" href="#buy">Выкуп</a></li>
				<li class="link-item"><a class="item__link" href="#contact">Контакты</a></li>
				<li class="link-item link-contact"><a class="item__link" href="https://t.me/+79340009797"
						target="https://t.me/+79340009797"><img src="img/icons/tg.svg" alt="">
					</a><a class="item__link" href="https://wa.me/+79340009797" target="https://wa.me/+79340009797"><img
							src="img/icons/whatsapp.svg" alt=""></a>
				</li>
			</ul>
			<nav class="header__nav-def"><a href="" class="logo"><img src="img/icons/logo.svg" alt=""></a>
				<div class="media-navbar__right">
					<div class="navbar-right__network"><a href="tel:+79340009797"><img src="img/icons/phone.png" alt=""> </a><a
							href="https://t.me/+79340009797" target="https://t.me/+79340009797"><img src="img/telegram.svg" alt="">
						</a><a href="https://wa.me/+79340009797" target="https://wa.me/+79340009797"
							target="https://wa.me/+79340009797"><img src="img/icons/footer_whatsapp.svg" alt=""></a>
					</div><button type="button" class="bars" onclick="navbar()"><img src="img/icons/bars.svg" alt=""></button>
				</div>
			</nav>
		</div>
	</div>
</header><!-- header end --><!-- home start -->